<div th:fragment="pagination(currentPage, totalItems, itemsPerPage, url)">
    <div class="pagination" 
         th:with="totalPages=${totalItems / itemsPerPage + (totalItems % itemsPerPage == 0 ? 0 : 1)}">
        <span th:if="${currentPage > 0}">
            <a th:href="@{${url}(page=${currentPage - 1})}">&lt; Previous</a>
        </span>
        
        <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
            <a th:href="@{${url}(page=${i})}" 
               th:text="${i + 1}"
               th:class="${currentPage == i ? 'active' : ''}">1</a>
        </span>
        
        <span th:if="${currentPage < totalPages - 1}">
            <a th:href="@{${url}(page=${currentPage + 1})}">Next &gt;</a>
        </span>
    </div>

    <style>
        .pagination {
        margin-top: 20px;
        text-align: center;
        }

        .pagination a {
            padding: 8px 16px;
            margin: 0 4px;
            border: 1px solid #ddd;
            text-decoration: none;
        }

        .pagination a.active {
            background-color: #4CAF50;
            color: white;
            border: 1px solid #4CAF50;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
    </style>
</div>