<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Bars</title>
    <!-- Add your CSS links -->
    <link rel="stylesheet" th:href="@{/css/footer.css}">
</head>
<body>
    <footer th:fragment="footer" class="footer">
        <div class="footerAbout">
            <h3>About Us</h3>
            <p>We are a community-driven platform that helps you tracks your fitness journey and connect with others.</p>
        </div>

        <div class="footerContact">
            <h3>Contact Us</h3>
            <p> Email : <a href="mailto:6182201033@student.unpar.ac.id">Junfa@gmail.com</a></p>
            <p> Phone : +62 820 144 145 </p>
            <p> Address : Ciumbeluit 1 , Bandung, Indonesia </p>
        </div>

        <div class="footerSosmed">
            <h3>Follow Us On</h3>
            <a href="https://www.instagram.com/life_isroblox420/" target="_blank">Instagram</a>
            <a href="https://www.youtube.com/watch?v=xvFZjo5PgG0" target="_blank">Youtube</a>


        <p>&copy; 2024 Strava Inc. All Rights Reserved.</p>
    </footer>
</body>