<div class="navbar-container" th:fragment="navbar">
    <nav class="navbar">
        <div class="logo">LOGO</div>
        <ul class="nav-links">
            <li class="dropdown">
                <a href=""> Activities</a>
                <ul class="dropdown-menu">
                    <li><a href="">Act 1</a></li>
                    <li><a href="">Act 2</a></li>
                </ul>
            </li>
            <li>
                <a href="">Race</a>
            </li>

        </ul>
        <div class="auth-links">
            <a href="" class="login-btn">Login</a>
            <a href="" class="register-btn">Register</a>
            <a href="" class="signout-btn">Sign out</a>
        </div>

    </nav>

</div>


<div class="navbar-container" th:fragment="navbar2">
    <nav class="navbar">
        <div class="logo">LOGO</div>
        
        <div class="auth-links">
            <a href="" class="login-btn">Login</a>
            <a href="" class="register-btn">Register</a>
            <a href="" class="signout-btn">Sign out</a>
        </div>

    </nav>

</div>
<div class="navbar-container" th:fragment="navbar3">
    <nav class="navbar3">
        <div class="logo">LOGO</div>
        <ul class="nav-links">
            <li class="dropdown">
                <a class="dropbtn">Activities</a>
                <ul class="dropdown-menu">
                    <li><a href="">Running</a></li>
                    <li><a href="">Cycling</a></li>
                    <li><a href="">Walking</a></li>
                    <li><a href="">Hiking</a></li>
                </ul>
            </li>

            <li><a href="">Features</a></li>
            <li><a th:href="@{/maps}">Maps</a></li>
            <li><a href="">Challenges</a></li>
            <li><a href="">Subscription</a></li>

        </ul>

        <div class="auth-linksHome">
            <a href="" class="login-btn">Login</a>
        </div>
    </nav>
</div>