<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation Bars</title>
    <!-- Add your CSS links -->
    <!-- <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}"> -->
</head>
<body>

    <!-- First Navbar -->
    <div th:fragment="navbar" class="navbar-container">
        <nav class="navbar">
            <div class="logo">
                <a th:href="@{/}">
                    <div class="logo-text" style="display: flex; align-items: center;">
                        <img th:src="@{/img/favicon2.png}" style="max-height: 32px; max-width: 32px; margin: 0 15px 0 10px;">
                        <p class="logo-text" style="margin: 0;">Gerak</p>
                        <p class="logo-highlight" style="margin: 0; font-weight: bold;">In</p>
                    </div>
                </a>
            </div>
            <ul th:if="${session.status} != null" class="nav-links">
                <li class="dropdown">
                    <a th:href="@{/activity}">Activities</a>
                </li>
                <li>
                    <a th:href="@{/race/}">Race</a>
                </li>
            </ul>
            <div class="auth-links">
                <a th:if="${session.status} == null" th:href="@{/login}" class="login-btn">Login</a>
                <a th:if="${session.status} == null" th:href="@{/register}" class="register-btn">Register</a>
                <a th:if="${session.status} != null" th:href="@{/logout}" class="signout-btn">Sign out</a>
            </div>
        </nav>
    </div>

    <!-- Third Navbar -->
    <div class="navbar-container" th:fragment="navbar3">
        <nav class="navbar3">
            <div class="logo">
                <a th:href="@{/}">
                    <div class="logo-text" style="display: flex;">
                        <img th:src="@{/img/favicon2.png}" style="max-height: 32px;max-width: 32px; padding-top:26px ; margin: 0 5px 0 20px; display: flex;align-items: center;" alt="logo icon">
                        <p class="logo-text">Gerak</p><p class="logo-highlight">In</p>

                    </div>
                </a>
            </div>

            <ul class="nav-links">
                <li class="dropdown">
                    <a class="dropbtn">Activities</a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/homeRun}">Running</a></li>
                        <li><a th:href="@{/homeCycle}">Cycling</a></li>
                        <li><a th:href="@{/homeSwim}">Swimming</a></li>
                    </ul>
                </li>
    
                <li><a th:href="@{/homeFeature}">Features</a></li>
                <li><a th:href="@{/maps}">Maps</a></li>
                <!-- <li><a th:href="@{/homeChallenge}">Challenges</a></li> -->
                <li><a th:href="@{/race/}">Challenges</a></li>
                <li><a th:href="@{/dashboard}">Dashboard</a></li>
    
            </ul>
    
            <div class="auth-linksHome">
                <a th:if="${session.status} == null" th:href="@{/login}" class="login-btn">Login</a>
                <a th:if="${session.status} == null" th:href="@{/register}" class="register-btn">Register</a>
                <a th:if="${session.status} != null" th:href="@{/logout}" class="signout-btn">Sign out</a>
            </div>
        </nav>
    </div>

</body>
</html>