<!-- Create a new file called sidebar.html in your templates/layout folder -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
</head>
<body>
    <div th:fragment="sidebar" class="sidebar">
        
       <!-- Main Layout -->
    <div class="container-bar">
        <!-- Sidebar -->
        <div class="sidebar">
            <div class="profile">

                <h2>Shawn Jonathan Chandra</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>Dashboard</li>
                    <li>Training</li>
                    <li>Maps</li>
                    <li>Challenges</li>
                </ul>
                <ul>
                    <li>
                        <a th:href="@{/race/create}">Create a Race</a>
                    </li>
                </ul>
            </div>
        </div>
 
    </div>
</body>
</html>