<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Activities</title>
    <link rel="shortcut icon" th:href="@{/img/favicon2.png}" type="image/x-icon">

    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/activity.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script th:src="@{/js/filter.js}" defer></script>
</head>
<body>
    <th:block th:replace="~{/layout/navbar :: navbar}"></th:block>
    
    <div class="container">
        <header>
            <h1>My Activities</h1>
            <div class="search-container">
                <input type="text" name="keywords" placeholder="Search by title" class="search-input" />
                <select class="sport-select">
                    <option value="" disabled selected>All Sport Types</option>
                    <option value="run">Running</option>
                    <option value="bike">Cycling</option>
                    <option value="swim">Swimming</option>
                </select>
                <button class="search-button">Search</button>
                <button class="clear">Clear</button>

            </div>
        </header>

        <main>
            <button id="add" th:onclick="|window.location.href='@{/activity/add}'|">Add Training Activity</button>
            <div th:if="${activities.success}">
                <h2 th:text="${activities.data.size()} + ' Activities'" id="quantity">0 Activities</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th  th:onclick="sortTable('judul')">
                                <!-- <span th:if="${sortBy == 'judul'}">  -->
                                    Title <i id="judul"></i>
                                    

                                <!-- </span> -->
                                </th>
                            <th>Sport</th>
                            <th  th:onclick="sortTable('createdAt')" >
                                Date <i id="createdAt"></i>
                                

                            </th>
                            <th  th:onclick="sortTable('durasi')">
                                <!-- <span th:if="${sortBy == 'durasi'}"> -->
                                    Duration <i id="durasi"></i>

                                <!-- </span> -->
                                </th>
                            <th  th:onclick="sortTable('jarak')">
                                <!-- <span th:if="${sortBy == 'jarak'}"> -->
                                    Distance <i id="jarak"></i>

                                <!-- </span> -->
                                </th>
                            <th  th:onclick="sortTable('elevasi')">
                               <!--  <span th:if="${sortBy == 'elevasi'}"> -->Elevation <i id="elevasi"></i>
                            <!-- </span>-->
                             </th> 
                             <th>
                                Action
                             </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="activity, iterStat : ${activities.data}" 
                            th:if="${iterStat.index >= (currentPage * 10) && iterStat.index < ((currentPage * 10) + 10)}">
                            <td>
                                <a th:href="@{/activity/descActivity(id_activity=${activity.idActivity})}" th:text="${activity.judul}">Morning Run</a>
                            </td>
                            <td th:text="${activity.tipeTraining}">Run</td>
                            <td th:text="${#temporals.format(activity.createdAt, 'yyyy-MM-dd HH:mm')}">2023-01-01</td>
                            <td th:text="${activity.durasi}">00:30:00</td>
                            <td th:text="${activity.jarak} + ' km'">5 km</td>
                            <td th:text="${activity.elevasi} + ' meter'">100 ft</td>
                            <td>
                                <form th:action="@{/activity/edit}" method="get" style="display: inline;">
                                    <input type="hidden" name="id_activity" th:value="${activity.idActivity}">
                                    <button type="submit" class="edit-button">Edit</button>
                                </form>
                                <form th:action="@{/activity/delActivity}" method="post" style="display: inline;">
                                    <input type="hidden" name="id_activity" th:value="${activity.idActivity}" />
                                    <button type="submit" class="delete-button">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                

                <div th:replace="~{layout/pagination :: pagination(${currentPage}, ${activities.data.size()}, 10, '/activity')}"></div>

            </div>
            <div th:unless="${activities.success}">
                <table>

                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Sport</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Distance</th>
                            <th>Duration</th>
                            <th>Elevation</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="8" th:text="${activities.message}" style="text-align: center;"></td>
    
                        </tr>
            
                    </tbody>
                </table>

            </div>
        </main>
    </div>

    <th:block th:replace="~{/layout/footer :: footer}"></th:block>
</body>
</html>
