<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <script th:src="@{/script/graph.js}" defer></script>
    <script th:src="@{/script/pdfExport.js}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>

</head>
<body>
    <th:block th:replace="~{/layout/navbar :: navbar}"></th:block>

    
    <div class="container">
        <!-- Left Section -->
        <div class="left" style="max-width: 400px;">
            <div class="profile">
                <!-- <img src="your-image.jpg" alt="Profile Picture" class="profile-img"> -->
                <h2 th:text="${nama}"></h2>
            </div>
            <div class="menu">
                <ul>
                    <li>Dashboard</li>
                    <li>Training</li>
                    <li>Maps</li>
                    <li>Challenges</li>
                </ul>
            </div>
        </div>

        <!-- Middle Section -->
        <div class="middle">
            
            <div class="latest-activity" >
                <h3>Latest Activity</h3>
                <p>Afternoon Walk • Jan 29, 2022</p>
              </div>

              
              <div th:each="activity : ${activities}">
                <div th:replace="~{fragments/activity-card :: activityCard(
                    name=${nama},
                    date=${activity.createdAt},
                    location='Bandung',
                    title=${activity.judul},
                    distance=${activity.jarak},
                    time=${activity.durasi},
                    elevGain=${activity.elevasi},
                    gambar=${activity.urlpath}
                )}">
              </div>
            </div>
          </div>

          
          <div class="right">
              <div class="graph">
                  <h3>Activity Graph</h3>
                  <p> this is how well you do for the last :</p>
                  <div class="tabs">
                      <button> Week</button>
                      <button> Month</button>
                      <button> Year</button>
                  </div>
  
                  <canvas id="myChart"></canvas>
                  <div class="button-container">
                      <button id="export-btn"> Export To PDF</button>
                  </div>
              </div>
              
          </div>
        <script th:inline="javascript">
            window.activitiesData = /*[[${activities}]]*/ [];

        </script>
</body>
</html>