<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" th:href="@{/img/favicon2.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <script th:src="@{/script/graph.js}" defer></script>
    <script th:src="@{/script/pdfExport.js}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js" defer></script>

</head>
<body>
    <th:block th:replace="~{/layout/navbar :: navbar}"></th:block>

    
    <div class="container">
        <!-- Left Section -->
        <div class="left" style="max-width: 400px;">
            <div class="profile">
                <!-- <img src="your-image.jpg" alt="Profile Picture" class="profile-img"> -->
                <h2 th:text="${nama}"></h2>
                <p>Welcome to your activity tracker! Keep running strong!</p>
            </div>
            <div class="menu">
                <ul>
                    <li></li>
                    <li><div class="clock" style="display: flex;flex-direction: column; align-items: center;justify-content: center;">
                        <h3>Current Time</h3>
                        <p id="clock">00:00:00</p>
                    </div></li>
                    
                </ul>
            </div>
            <div class="motivational-quote">
                <p>"Run like you're chasing a pizza delivery!"</p>
            </div>
        </div>

        <!-- Middle Section -->
        <div class="middle">
            
            <div class="latest-activity" >
                <h3 style="display: flex; justify-content: center;">Latest Activity</h3>
              </div>


              <div th:if="${activities.success}">
                  <div th:each="activity : ${activities.data}">
                    <div th:replace="~{fragments/activity-card :: activityCard(
                        name=${nama},
                        date=${#temporals.format(activity.createdAt, 'yyyy-MM-dd')},
                        location='Bandung',
                        title=${activity.judul},
                        distance=${activity.jarak},
                        time=${activity.durasi},
                        elevGain=${activity.elevasi},
                        gambar=${activity.urlpath}
                    )}">
                  </div>
                </div>

              </div>
              <div th:unless="${activities.success}">

              </div>
              
          </div>

          
          <div class="right">
              <div class="graph">
                  <h3 style="display: flex; justify-content: center;">Activity Graph</h3>
                  <p> This is how well you do for the last :</p>
                  <div class="tabs">
                      <button> Week</button>
                      <button> Month</button>
                      <button> Year</button>
                  </div>
  
                  <canvas id="myChart"></canvas>
                  <div class="button-container">
                      <button id="export-btn"> Export To PDF</button>
                  </div>
              </div>
              
          </div>
        <script th:inline="javascript">
            window.activitiesData = /*[[${activities.data}]]*/ [];
            function updateClock() {
            const clockElement = document.getElementById('clock');
            const currentTime = new Date();
            let hours = currentTime.getHours().toString().padStart(2, '0');
            let minutes = currentTime.getMinutes().toString().padStart(2, '0');
            let seconds = currentTime.getSeconds().toString().padStart(2, '0');
            
            clockElement.textContent = `${hours}:${minutes}:${seconds}`;
        }

        setInterval(updateClock, 1000);
        updateClock();
        </script>
</body>
</html>