<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strava Together Strong uu aa</title>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" th:href="@{css/navbar.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
    <div th:replace="layout/navbar :: navbar3"></div>
    

    <div class="ss-container">
        <div class="tagline">
            <p>Your journey, your progress, your Strava.</p>
        </div>

        <div class="mySlides fade">
            <img th:src="@{/img/sepeda.jpg}" style="width:100%">
            <div class="text">
                <span class="highlight">Pedal your way to freedom.</span>
            </div>
        </div>
    
        <div class="mySlides fade">
            <img th:src="@{/img/q.jpg}" style="width:100%">
            <div class="text">
                <span class="highlight">Step into the wild.</span>
            </div>
        </div>
    
        <div class="mySlides fade">
            <img th:src="@{/img/qq.jpg}" style="width:100%">
            <div class="text">
                <span class="highlight">Every journey begins with a single step.</span>
            </div>
        </div>
    
        <div class="mySlides fade">
            <img th:src="@{/img/v.jpg}" style="width:100%">
            <div class="text">
                <span class="highlight">Every step counts.</span>
            </div>
        </div>
    </div>
    
    <div class="cta">
        <p class="ctaText">Join our community and start tracking your progress today!</p>
        <a th:if="${session.status} == null" th:href="@{/register}" class="ctaBut">join Now</a>
    </div>


    <div th:replace="layout/footer :: footer"></div>

    <script>
    let slideIndex = 0;
    showSlides();
    
    function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none"; // Sembunyikan semua slide
        }
        slideIndex++;
        if (slideIndex > slides.length) { // Reset ke slide pertama jika mencapai akhir
            slideIndex = 1;
        }
        slides[slideIndex - 1].style.display = "block"; // Tampilkan slide aktif
        setTimeout(showSlides, 2000); // Ganti slide setiap 2 detik
    }
</script>

</body>
</html>
