<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" th:href="@{/img/favicon.png}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
</head>
<body>
    <th:block th:replace="~{/layout/navbar :: navbar}"></th:block>

    <div th:replace="~{fragments/error-popup :: errorPopup(${error})}"></div>
    
    <div class="container" th:style="|height : 100vh;background: url('@{/img/login_background.jpg}') no-repeat center center/cover ;|"  >

        <div class="login-container">
            <h1>Log In</h1>
            <!-- <div class="divider">
                <span>or</span>
            </div> -->
            <form action="/login" method="post">
                <label for="email">Email</label>
                <input name="email" type="email" placeholder="Email" required>

                <label for="password">Password</label>
                <input name="password" type="password" placeholder="Password" required>
                <br>
                <br>
                <button class="login-btn" type="submit">Log In</button>
            </form>
            <div class="links">
                <p><a th:href="@{/register}" class="register-btn">Reg">Create a New Account</a></p>
            </div>
        </div>
    </div>

</body>
</html>