<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Details</title>
    <link rel="stylesheet" th:href="@{/css/descActivity.css}">
</head>
<body>
    <header>
        <h1>Activity Details</h1>
    </header>

    <main>
        <section class="activity-details">
            <h2 th:text="${activity.judul}">Activity Title</h2>
            <p>
                <strong>Date Created:</strong> 
                <span th:text="${#temporals.format(activity.createdAt, 'yyyy-MM-dd HH:mm')}">2025-01-08 14:00</span>
            </p>
            <p>
                <strong>Duration:</strong> 
                <span th:text="${activity.durasi}">00:00:00</span>
            </p>
            <p>
                <strong>Distance:</strong> 
                <span th:text="${activity.jarak}">0</span> km
            </p>
            <p>
                <strong>Elevation:</strong> 
                <span th:text="${activity.elevasi}">0</span> ft
            </p>
            <p>
                <strong>Description:</strong> 
                <span th:text="${activity.description}">No description provided.</span>
            </p>
            <p>
                <strong>Training Type:</strong> 
                <span th:text="${activity.tipeTraining}">General</span>
            </p>
            <p>
                <strong>Uploaded Image:</strong>
            </p>
            <div class="activity-image">
                <img th:src="${activity.urlpath != null}  ? ${activity.urlpath} : @{/img/404.jpg}" th:alt="${activity.urlpath != null}  ? ${activity.judul} : 'Broken Image'" style="max-width: 100%; height: auto;">
            </div>
        </section>

        <section class="actions">
            <a th:href="@{/activity}" class="btn">Back to Activities</a>
        </section>
    </main>

    <th:block th:replace="~{/layout/footer :: footer}"></th:block>
</body>
</html>