:root{
    --blackishgray: #333;
    --orangeish : #ff6b35;
    --darker-orange : #e55b2a;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin :0;
    padding : 0;
    box-sizing: border-box;
}


.container {
    height: 90dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: url('https://via.placeholder.com/1920x1080') no-repeat center center/cover;
}

.login-container{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    width: 350px;
    padding: 20px;
    color:  #fff;
    text-align: center;
}

.login-container h1 {
    margin : 10px 0 20px 0;
    font-size: 1.8em;
}


form {
    text-align: left;
}

form input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

form label {
    font-size: 1em;
    margin-left: 5px;
}

.login-btn{
    width: 100%;
    padding: 10px;
    background-color: var(--orangeish);
    color: #fff;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.login-btn:hover {
    background-color:  var(--darker-orange);
}

.links {
    margin-top: 10px;
    font-size: 0.9em;
}

.links a {
    color: var(--darker-orange);
    text-decoration: none;
}

.links a:hover{
    text-decoration: underline;
}